@import url("./resources/styles/fonts.css");

body {
    margin: 0;
    padding: 0;
    font-family: "AtkinsonNext";
}

.container {
    display: flex;
    width: 100vw;
    height: 100vh;
}
p,hr,h6 {
    margin-top: 5px;
    margin-bottom: 15px;
}

.area_left {
    width: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 14px;
    box-sizing: border-box;
}

.area_right {
    width: 90%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding: 10px;
    box-sizing: border-box;
    margin-left:2vw;
    margin-right:2vw;
}
@media (min-width: 1200px) {
    .area_right {
        margin-left: 4vw;
        margin-right: 14vw;
    }
}

.area_left,
.area_right {
    min-width: 110px;
    max-width: 100%;

}


.area_logo h1 {
    font-size: 1.5rem;
    text-align: center;
    color: greenyellow;
}

.area_nav {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}

.area_nav button {
    background: white;
    cursor: pointer;
    width: 100%;
    padding: 8px;
}

.area_news {
    background: white;
    box-sizing: border-box;
    height: 70px;
    /* overflow: hidden; */
    font-size: 12px;
    margin-bottom: 10px;
    overflow-y: auto;

    p {
        margin: 2px 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .text {
        font-weight: 700;
    }

    .date {
        font-weight: 500;
    }

    .hr {
        border: none;
        border-top: 1px solid #ddd;
        margin: 4px 0;
    }
    ::-webkit-scrollbar {
        width: 6px;
    }

    ::-webkit-scrollbar-thumb {
        background: #aaa;
        border-radius: 5px;
    }
}

.clock {
    font-size: 14px;
    font-weight: 500;
    color: yellow;
    margin-top: 5px;
    font-family: "AtkinsonMono", monospace;
}


.area_main {
    background: white;
    flex: 1;
    /* ocupa todo lo que quede */
    overflow: hidden;
}

.scroll_box {
    height: 100%;
    overflow-y: auto;
    padding: 10px;
    margin: 15px;
    box-sizing: border-box;

    ::-webkit-scrollbar {
        width: 6px;
    }
    ::-webkit-scrollbar-thumb {
        background: #aaa;
        border-radius: 5px;
    }
}